@charset "UTF-8";
* {
  box-sizing: border-box;
  color: #000000;
}

/* $primary_color: ; */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  padding: 0 150px;
  height: 100%;
  position: relative;
}

.header {
  flex: 1 0 100%;
  background-color: #eff0f2;
}
.header__top {
  position: absolute;
  top: 60px;
}
.header__content {
  position: relative;
  text-align: center;
  top: 320px;
}
.header__title {
  font-size: 45px;
  letter-spacing: 3px;
  line-height: 55px;
  text-transform: uppercase;
  color: #505050;
  font-weight: 700;
  font-family: "Montserrat";
  filter: drop-shadow(3.517px 8.285px 5px rgba(0, 0, 0, 0.24));
}
.header__mark {
  background-color: #b2f2ee;
  color: #505050;
}
.header__content-btn {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Montserrat";
  padding: 15px 50px;
  border: 2px solid #777879;
  position: relative;
  top: 140px;
}
.header__content-img {
  position: absolute;
  top: 250px;
  right: 0;
}

.about {
  background-color: #f8fafa;
}
.about__head {
  padding-top: 130px;
}
.about__content {
  display: flex;
  gap: 150px;
  padding: 150px 50px;
}
.about__content-img {
  height: 480px;
  filter: drop-shadow(0 0 15px rgba(20, 20, 21, 0.13));
  background-image: url("../assets/about.jpg");
  background-size: cover;
  background-position: center;
  flex: 1 0 390px;
}

.featured-works__head {
  padding-top: 130px;
}
.featured-works__content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 130px 0;
}
.featured-works__img {
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.team {
  background-color: #f8fafa;
}
.team__head {
  padding-top: 130px;
}
.team__head {
  padding-top: 100px;
}
.team__content {
  padding: 120px 0 190px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.contact {
  background-image: url("../assets/christmas_snow_trees-wide.jpg");
  background-size: cover;
}
.contact__content {
  display: flex;
  gap: 30px;
  padding: 90px 0;
  flex-wrap: wrap;
}
.contact__form {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  background-color: rgba(2, 22, 35, 0.5);
  padding: 50px 30px;
  width: 500px;
}
.contact__form-input {
  font-size: 15px;
  line-height: 51px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Raleway";
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}
.contact__form-textarea {
  font-size: 15px;
  line-height: 51px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Raleway";
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  resize: none;
}
.contact__form-btn {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Montserrat";
  background-color: #71f6ec;
  opacity: 1;
  border: none;
  padding: 20px 40px;
  width: fit-content;
  margin-top: 40px;
}
.contact__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgba(2, 22, 35, 0.5);
}
.contact__info div {
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Raleway";
}
.contact__address {
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Raleway";
}

.footer {
  background-color: #262b2e;
}
.footer__head {
  padding: 90px 0 20px;
}
.footer__content {
  padding: 0 0 150px;
}
.footer__links {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer__link {
  width: 40px;
  height: 40px;
  background-color: #3e4244;
}
.footer__link:hover {
  background-color: #71f6ec;
}
.footer__link-img {
  height: 40px;
  width: 40px;
  size: 20px;
}

/*# sourceMappingURL=index.css.map */
/* BLOKS */
.logo {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  border: 7px solid #000000;
  padding: 5px 10px;
  width: fit-content;
  filter: drop-shadow(0 0 1px rgba(21, 21, 22, 0.75));
}
.logo__link:active {
  color: #000000;
}
.logo__link:visited {
  color: #000000;
}
.logo span {
  color: #71f6ec;
}

.title {
  font-size: 38px;
  letter-spacing: 2px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat";
  padding-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Merriweather";
  text-align: center;
}

.text {
  text-align: start;
}
.text__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Merriweather";
}
.text__content {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Raleway";
  padding-bottom: 40px;
}

.member {
  width: 370px;
  height: 440px;
}
.member__photo {
  width: 370px;
  height: 440px;
  object-fit: cover;
}
.member:hover .member__info {
  opacity: 1;
}
.member__info {
  opacity: 0;
  position: relative;
  background-color: #71f6ec;
  text-align: start;
  width: 335px;
  height: 241px;
  margin: auto;
  padding: 40px;
  top: -280px;
  transition: opacity 1s ease-out;
}
.member__info::before {
  content: "";
  position: absolute;
  /* Абсолютное позиционирование */
  left: 20px;
  top: -40px;
  /* Положение треугольника */
  border: 20px solid transparent;
  /* Прозрачные границы */
  border-bottom: 20px solid #71f6ec;
}
.member__name {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #272727;
  font-weight: 700;
  font-family: "Merriweather";
}
.member__name span {
  font-style: italic;
  color: #767776;
  font-weight: 400;
  font-size: 16px;
}
.member__quote {
  padding: 30px 0;
  width: 246px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Raleway";
}
