$blue: #71f6ec;
$black: #000000;
$white: #ffffff;
$background_first_page: #eff0f2;
$background_section: #f8fafa;
$gray: #505050;
$mark_color: #b2f2ee;

html {
    scroll-behavior: smooth;
}

@mixin btn {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.container {
    /* padding: 0 150px;  */
    width: 1140px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        width: 900px;
    }
    @media (max-width: 992px) {
         width: 792px;
    }
    @media (max-width: 768px) {
        width: 576px;
    }
    @media (max-width: 576px) {
        width: 375px;
    }
    @media (max-width: 375px) {
        width: 355px;
    }
}

.header {
    flex: 1 0 100%;
    background-color: $background_first_page;
    &__top {
        position: absolute;
        padding-top: 60px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 300px 0 200px;
        @media (max-width: 760px) {
            padding: 200px 0 100px;
        }
        @media (max-width: 375px) {
            padding: 150px 0 100px;
            gap: 10px;
        }
    }
    &__title {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $gray;
        width: 100%;
        filter: drop-shadow(3.517px 8.285px 5px rgba(0, 0, 0, 0.24));
        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 35px;
            padding: 0, 50px;
        }
    }
    &__mark {
        background-color: $mark_color;
        color: $gray;
        padding: 0 15px;
    }
    &__btn-container {
        padding-top: 140px;
        @media (max-width: 760px) {
            padding-top: 70px;
        }
    }
    &__content-btn {
        @include btn;
        color: $gray;
        padding: 15px 50px;
        border: 2px solid $gray;
        transition: background-color 1s;
        &:hover {
            background-color: $gray;
            color: $white;
        }
        @media (max-width: 760px) {
            font-size: 14px;
            line-height: 28px;
        }
    }
    &__content-img {
        position: absolute;
        bottom: 120px;
        right: 220px;
        @media (max-width: 992px) {
            bottom: 100px;
            right: 100px;
        }
        @media (max-width: 768px) {
            bottom: 120px;
            right: 100px;
        }
        @media (max-width: 375px) {
            display: none;
        }
    }
}

.about {
    background-color: $background_section;
    &__head {
        padding-top: 130px;
        @media (max-width: 375px) {
            padding-top: 50px;
        }
    }
    &__content {
        display: flex;
        gap: 150px;
        padding: 150px 50px;
        @media (max-width: 1280px) {
            gap: 50px;
            padding: 100px 0;
            flex-wrap: wrap;
        }
        @media (max-width: 375px) {
            gap: 50px;
            padding: 50px 0;
            flex-wrap: wrap;
        }
    }
    &__img {
        width: 390px;
        height: 480px;
        object-fit: cover;
        filter: drop-shadow(0 0 15px rgba(20, 20, 21, 0.13));
        @media (max-width: 1280px) {
            width: 100%;
            object-fit: cover;
        }
    }
}

.featured-works {
    &__head {
        padding-top: 130px;
        @media (max-width: 760px) {
            padding-top: 100px;
        }
        @media (max-width: 375px) {
            padding-top: 50px;
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 130px 0;
        @media (max-width: 760px) {
            padding: 50px 0;
        }
        @media (max-width: 375px) {
            padding: 50px 0;
        }
    }
    &__img {
        width: 360px;
        height: 360px;
        object-fit: cover;
        cursor: pointer;
        transition: opacity 0.5s;
/*         @media (max-width: 460px) {
            width: 220px;
            height: 220px;
        } */
        &:hover {
            opacity: 0.7;
        }
    }
}

.team {
    background-color: $background_section;
    &__head {
        padding-top: 100px;
        @media (max-width: 760px) {
            padding-top: 50px;
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 120px 0 190px;
        @media (max-width: 375px) {
            padding: 50px 0;
        }
    }
}

.contact {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/christmas_snow_trees-wide.jpg");
        background-size: cover;
        filter: opacity(40%);
    }
    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 120px 0;
        flex-wrap: wrap;
        @media (max-width: 375px) {
            padding: 50px 0;
        }
    }
    &__content-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: wrap;
        min-width: 320px;
        gap: 30px;
        background-color: rgba(2, 22, 35, 0.7);
        padding: 28px 35px 10px;
        @media (max-width: 760px) {
            width: 100%;
        }
    }
    &__info {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.6);
    }
    &__link {
        color: rgba(255, 255, 255, 0.6);
        &:hover {
            text-decoration: underline;
            color: $white;
        }
    }
}

.footer {
    background-color: #262b2e;
    &__head {
        padding: 90px 0 15px;
    }
    &__title {
        font-family: "Raleway";
        font-weight: 400;
        line-height: 24px;
        font-size: 15px;
        text-transform: uppercase;
        color: #dad8d8;
        text-align: center;
    }
    &__content {
        padding: 0 0 150px;
        @media (max-width: 760px) {
            padding: 0 0 90px;
        }
    }
    &__links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__link {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3e4244;
        &:hover {
            background-color: $blue;
            .footer__link-img {
                path {
                    fill: $black;
                    transition: fill 1s;
                }
            }
        }
        a {
            height: 24px;
            width: 24px;
        }
    }
    &__link-img {
        width: 100%;
        height: 100%;
        path {
            fill: #bbb8b9;
        }
    }
}
/*# sourceMappingURL=index.css.map */

/* BLOKS */

.logo {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    border: 5px solid $black;
    padding: 3px 8px;
    width: fit-content;
    filter: drop-shadow(0 0 1px rgba(21, 21, 22, 0.75));
    &__link {
        &:active {
            color: $black;
        }
        &:visited {
            color: $black;
        }
    }
    span {
        font-size: 20px;
        color: $blue;
    }
}

.title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    @media (max-width: 760px) {
        font-size: 28px;
        line-height: 38px;
    }
}

.subtitle {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Merriweather";
    text-align: center;
    @media (max-width: 760px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.text {
    text-align: start;
    &__title {
        font-family: "Merriweather";
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__content {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
        padding-bottom: 40px;
    }
}

.member {
    width: 370px;
    height: 440px;
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover {
        .member__info {
            opacity: 1;
        }
    }
    &__info {
        position: relative;
        top: -280px;
        padding: 40px;
        margin: 0 15px 20px;
        background-color: $blue;
        opacity: 0;
        transition: opacity 1s ease-out;
        &::before {
            content: "";
            position: absolute;
            left: 20px;
            top: -40px;
            border: 20px solid transparent;
            border-bottom: 20px solid $blue;
        }
        @media (max-width: 460px) {
            padding: 20px;
        }
    }
    &__name {
        font-family: "Merriweather";
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 1px;
        color: $black;
        span {
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
            color: #767776;
        }
        @media (max-width: 460px) {
            font-size: 16px;
            line-height: 20px;
            span {
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
    &__quote {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding: 30px 0;
        color: #2d635e;
        @media (max-width: 460px) {
            font-size: 16px;
            line-height: 20px;
            padding: 15px 0;
        }
    }
    &__social {
        display: flex;
        gap: 15px;
    }
    &__link-img {
        width: 15px;
        cursor: pointer;
        path {
            fill: #2d635e;
            transition: fill 1s;
        }
        &:hover {
            path {
                fill: $white;
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__input {
        width: 100%;
        font-family: "Raleway";
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.8);
        padding: 15px 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    &__textarea {
        @extend .form__input;
        height: 130px;
        line-height: 18px;
        resize: none;
    }
    &__btn {
        @include btn;
        font-weight: 700;
        color: #2d635e;
        background-color: $blue;
        border: 1px solid $blue;
        padding: 11px 35px;
        width: fit-content;
        margin-top: 25px;
        box-sizing: border-box;
        border-radius: 2px;
        transition: background-color 1s;
        &:hover {
            background-color: $gray;
            color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(255, 255, 255, 0.5);
        }
        @media (max-width: 320px) {
            font-size: 16px;
            line-height: 20px;
            padding: 10px 20px;
        }
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    /* width: 80%; */
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;

    &__btn {
        border: none;
        background: none;
        cursor: pointer;
    }
    &.active {
        transform: translate(-50%, -50%) scale(1);
    }
    &__content {
        height: 600px;
        width: 600px;
        @media (max-width: 760px) {
            max-width: 300px;
            height: 300px;
        }
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

#map {
    height: 220px;
    width: 100%;
}
