* {
    box-sizing: border-box;
}

$secondary_color: #71f6ec;
$blue: #71f6ec;
$black: #000000;
$white: #ffffff;
$background_first_page: #eff0f2;
$background_section: #f8fafa;
$header_text_color: #505050;
$mark_color: #b2f2ee;

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.container {
    padding: 0 150px;
    @media (max-width: 760px)  {
        padding: 0 50px;
    }
}

.header {
    flex: 1 0 100%;
    background-color: $background_first_page;
    &__top {
        position: absolute;
        padding-top: 60px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 300px 0 200px;
        @media (max-width: 760px)  {
            padding: 200px 0 100px;
        }
        @media (max-width: 320px)  {
            padding: 150px 0 100px;
        }
    }
    &__title {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        letter-spacing: 3px; 
        text-transform: uppercase;
        color: $header_text_color;
        filter: drop-shadow(3.517px 8.285px 5px rgba(0, 0, 0, 0.24));
        @media (max-width: 1280px)  {
            font-size: 35px;  
            line-height: 40px;
        }
        @media (max-width: 760px)  {
            font-size: 30px;  
            line-height: 35px;
        }
        @media (max-width: 320px)  {
            font-size: 20px;  
            line-height: 26px;
        }
    }
    &__mark {
        background-color: $mark_color;
        color: $header_text_color;
    }
    &__btn-container {
        padding-top: 140px;
        @media (max-width: 760px)  {
            padding-top: 70px;
        }
    }
    &__content-btn {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $header_text_color;
        padding: 15px 50px;
        border: 2px solid $header_text_color;
        &:hover {
            background-color: $mark_color;
            color: #ffffff;
            border: 2px solid #ffffff;;
        }
        @media (max-width: 760px)  {
            font-size: 14px;
            line-height: 28px;
        }
    }
    &__content-img {
        position: absolute;
        bottom: 50px;
        right: 0;
        @media (max-width: 760px)  {
            display: none;
        }
    }
}

.about {
    background-color: $background_section;
    &__head {
        padding-top: 130px;
    }
    &__content {
        display: flex;
        gap: 150px;
        padding: 150px 50px;
        @media (max-width: 1280px)  {
            gap: 50px;
            padding: 100px 0;
            flex-wrap: wrap;
        }
    }
    &__img {
        width: 390px;
        height: 480px;
        object-fit: cover;
        filter: drop-shadow(0 0 15px rgba(20, 20, 21, 0.13));
        @media (max-width: 1280px)  {
            width: 100%;  
            object-fit: cover;
        }
    }
}

.featured-works {
    &__head {
        padding-top: 130px;
        @media (max-width: 760px)  {
            padding-top: 100px 0;
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        
        padding: 130px 0;
        @media (max-width: 760px)  {
            padding: 50px 0;
        }
    }
    &__img {
        width: 360px;
        height: 360px;
        object-fit: cover;
        @media (max-width: 460px)  {
            width: 220px;
            height: 220px;
        }
    }
}

.team {
    background-color: $background_section;
    &__head {
        padding-top: 100px;
        @media (max-width: 760px)  {
            padding-top: 50px;
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 120px 0 190px;
        @media (max-width: 760px)  {
            padding: 60px 0 100px;
        }
    }
}


.contact {
    position: relative;  
    &::before {   /* Added */
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url("../assets/christmas_snow_trees-wide.jpg");
        background-size: cover;
            filter: opacity(50%);
          }
    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 90px 0;
/*         @media (max-width: 760px)  {
            flex-wrap: wrap;
            
        } */
    }
    &__content-container {
        
        background-color: rgba(2, 22, 35, 0.5);
        padding: 50px 30px;
        width: 100%;
        
    }
    &__form {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 1);

    }
    &__form-input {
        font-size: 15px;
        line-height: 51px;
        font-weight: 400;
        font-family: "Raleway";
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        &::placeholder {
            color:rgba(255, 255, 255, 1);
        }
    }
    &__form-textarea {
        font-size: 15px;
        line-height: 51px;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        font-family: "Raleway";
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        resize: none;
        &::placeholder {
            color:rgba(255, 255, 255, 1);
        }
    }

    &__form-btn {
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 28px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: "Montserrat";
        background-color: $secondary_color;
        border: 1px solid $secondary_color;;
        padding: 20px 40px;
        width: fit-content;
        margin-top: 40px;
        box-sizing: border-box;
        &:hover {
            background-color: #3e4244;
            color: #ffffff;
            border: 1px solid $white;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;


    }
    &__content-container {
        display: flex;
        gap: 30px;
        flex-direction: column;
        font-size: 15px;
        line-height: 24px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Raleway";
    }

}

.footer {
    background-color: #262b2e;
    &__head {
        padding: 90px 0 15px;
    }
    &__title {
        font-size: 15px;
        line-height: 24px;
        color: #dad8d8;
        font-weight: 400;
        font-family: "Raleway";
        text-transform: uppercase;
        text-align: center;
    }
    &__content {
        padding: 0 0 150px;

    }
    &__links {
        list-style-type: none;
        display: flex;
        gap: 10px;
        justify-content: center;

    }
    &__link {
        width: 40px;
        height: 40px;
        background-color: #3e4244;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: $secondary_color;
            .footer__link-img {
                path {
                    fill: #000000;
                }
                
            }
        }
        
    }

    &__link-img {
        height: 24px;
        width: 24px; 
        path {
            fill: #bbb8b9;
        }
        
    }
}
/*# sourceMappingURL=index.css.map */

/* BLOKS */

.logo {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    border: 7px solid #000000;
    padding: 5px 10px;
    width: fit-content;
    filter: drop-shadow(0 0 1px rgba(21, 21, 22, 0.75));
    &__link {
        &:active {
            color: #000000;
        }
        &:visited {
            color: #000000;
        }
    }
    span {
        color: $secondary_color;
    }
}

.title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    @media (max-width: 760px)  {
        font-size: 28px;
        line-height: 38px;

    }
}

.subtitle {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Merriweather";
    text-align: center;
    @media (max-width: 760px)  {
        font-size: 14px;
        line-height: 18px;
    }
}

.text {
    text-align: start;
    &__title {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 28px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Merriweather";
    }

    &__content {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 28px;
        font-weight: 400;
        font-family: "Raleway";
        padding-bottom: 40px;
    }
}

.member {
    width: 370px;
    height: 440px;
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover {
        .member__info {
            opacity: 1;
        }
    }
    &__info {
        position: relative;
        top: -280px;
        padding: 40px;
        margin: 0 15px 20px;
        background-color: $blue;
        opacity: 0;
        transition: opacity 1s ease-out;
        &::before {
            content: "";
            position: absolute;
            left: 20px;
            top: -40px;
            border: 20px solid transparent;
            border-bottom: 20px solid $blue;
        }
        @media (max-width: 320px)  {
            padding: 20px;
        }
    }
    &__name {
        font-family: "Merriweather";
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 1px;
        color: #272727;
        span {
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
            color: #767776;  
        }
        @media (max-width: 460px)  {
            font-size: 16px;
            line-height: 20px;
            span {
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
    &__quote {
        font-family: "Raleway";
        font-weight: 400; 
        font-size: 16px;
        line-height: 24px;
        padding: 30px 0;  
        @media (max-width: 320px)  {
            font-size: 16px;
            line-height: 20px;
            padding: 15px 0;
        }
    }
}
